
<html>
    <head>
        <title>Register</title>
    </head>
    <body>
        <h1>Home</h1>


        <button type="button"><a href="{% url 'home' %}">Home</a></button>

        {% if user.is_authenticated %}
        <button type="button"><a href="{% url 'logout' %}">Logout</a></button>
        {% else %}
        <button type="button"><a href="{% url 'register' %}">Register</a></button>
        <button type="button"><a href="{% url 'login' %}">Login</a></button>
        {% endif %}

        </form>
    </body>
</html>